{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' ><!-- bootstrapのCSSを読み込み -->
    {% load django_bootstrap5 %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>ゆっくり村β</title>
  </head>
  <body class="text-center signin-body">
 
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href='{% url "home" %}'>ゆっくり村β</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
            <li class='nav-itme'>
                <span class='navbar-text'>{{ user }} - </span>
            </li>
            <li class='nav-item'>
                <a class="nav-link" href='{% url "account_logout" %}' class='logout nav-link'>ログアウト</a>
            </li>
        {% else %}
            <li class='nav-item'>
                <a class="nav-link" href='{% url "account_login" %}' class='login nav-link'>ログイン</a>
            </li>
            <li class='nav-item'>
                <a class="nav-link" href='{% url "account_signup" %}' class='signup nav-link'>新規登録</a>
            </li>
        {% endif %}
      </ul>
      <form class="form-inline mt-2 mt-md-0" action='{% url "home" %}' method='get'>
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="text" class='form_control' name="word" placeholder = 'キーワードを入力' value='{{ word }}'>
          <input class="btn btn-outline-primary my-2 my-sm-0" type='submit' class='btn btn-primary' value="YouTubeを検索">
      </form>
    </div>
    </nav>
 
    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
 
    <div class='container container-maxwidth'>
        {% block content %}
        {% endblock %}
    </div>
 
    <footer class="footer mt-auto py-3">
      <div class="container container-maxwidth">
        <span class="text-muted">Copyright&copy; <script>document.write(new Date().getFullYear());</script> ゆっくり村β</span>
      </div>
    </footer>
 
    <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
  </body>
</html>