{% load static %}
<footer class="footer">
  <div class="icons">
    <a href="{% url 'home' %}">
      <img
        src="{% static 'image/ホームアイコン.png' %}"
        alt="ホーム"
        class="icon-size"
      />
    </a>
    <a href="{% url 'search_user' %}">
      <img
        src="{% static 'image/チャットアイコン.png' %}"
        alt="検索"
        class="icon-size"
      />
    </a>
    <a href="{% url 'mydiviner' %}">
      <img
        src="{% static 'image/占い師一覧.png' %}"
        alt="占い師一覧"
        class="icon-size"
      />
    </a>
    <a href="{% url 'change' %}">
      <img
        src="{% static 'image/設定アイコン.png' %}"
        alt="設定"
        class="icon-size"
      />
    </a>
  </div>
</footer>
